---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for pagina in collections.all | sort(false, true, 'url') %}
{%- if pagina.url and not pagina.data.robots and pagina.url != '/404.html' %}
  <url>
    <loc>{{ site.url }}{{ pagina.url }}</loc>
    <lastmod>{{ build.data }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
